<main class="page__main">
  <form class="form">
    <input class="input js-seacher" type="text" placeholder="Titulo de la Serie" value= "" required/>
    <button class="button js-button-search">Buscar</button>
    <button class="button js-button-reset">Reset</button>
  </form>
  <section class="section js-container">
    <h2 class="result">Resultados</h2>
    <div class="js-container-selected"></div>
</section>
<section class="section-fav js-container-fav">
    <h2 class="favotites">Series Favoritas</h2>
    <div class="js-container-selected-fav"></div>
</section>
</main>
