<main class="page__main">
  <form class="form">
    <input class="input js-seacher" type="text" placeholder="Titulo de la Serie" value= ""/>
    <button class="button js-button-search">Buscar</button>
    <button class="reset js-button-reset">Reset</button>
  </form>
  <section>
  <div>
    <h2>Resultados</h2>
  </div>
  <div>
    <ul class="js-img-result"></ul>
  </div>
</section>
<section>
  <div>
    <h2>Series Favoritas</h2>
  </div>
  <div>
    <ul class="js-img-favorites"></ul>
  </div>
</section>
</main>
