@import 'core/variables';
@import 'core/reset';
@import 'layout/header';


.page{
    background-color: black;
    min-height: 100vh;
    width: 100vw;
    padding: 20px;
    display:flex;
    flex-direction: column;
}
.page__main{
    display:flex;
    flex-direction: column;
}

.form{
    display: flex;
    width: 100%;
    align-items: center;
    margin-left:16px; 
}

.button {
    background-color: $color-green;
    border: none;
    padding: 5px;
    margin: 5px;
    color: white;
    border-radius: 8px; 
}

.input {
    margin: 5px;
    padding: 5px;
    border: 0.5px solid $color-green;
    color: white;
    background-color: transparent;
    width: 250px
  }

.section {
    width: 60%;
    background-color: azure;
    margin-left: 25px;
    display:flex;
    border-radius: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;

}
.section-fav {
    width: 40%;
    background-color:rgb(248, 160, 160);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    
}
.big-container{
    display:flex;
    flex-direction: row-reverse;
    padding: 20px;
  
}
.result-section {
flex-direction: column;


}

.big-result-title {
    font-family: $font-big;
    color:black;
    font-size: 1.5rem;
    //margin-bottom: 10px;
    //max-width: 100%;
}

.result-row{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
   
}

.favorites {
    font-family: $font-big;
    color:black;
    font-size: 1.5rem;
    padding-top: 20px;
     
}
.js-favorite-title {
    border: 3px solid $color-green;
    color:$color-green;
    box-sizing: border-box;
}
.js-title-image{
    background-color: black;
    display: inline-block;
    box-sizing: border-box;
}